.vs/tccLavanderia/v14/.suo
tccLavanderia/bin/Debug/tccLavanderia.exe
tccLavanderia/bin/Debug/tccLavanderia.pdb
tccLavanderia/obj/Debug/tccLavanderia.csproj.FileListAbsolute.txt
tccLavanderia/obj/Debug/tccLavanderia.exe
tccLavanderia/obj/Debug/tccLavanderia.pdb
tccLavanderia/obj/Debug/
tccLavanderia/bin/Debug/
tccLavanderia/tccLavanderia.csproj
